<h1 class="mt-5">Editing client</h1>

<%= render "form", client: @client %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Show this client", @client, class:"mx-3 mb-3 btn button3" %>
  <%= link_to "Back to clients", clients_path, class:"mx-3 mb-3 btn button3" %>
</div>
