<h1 class="mt-5">New client</h1>

<%= render "form", client: @client %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Back to clients", clients_path, class:"btn button3 mb-3" %>
</div>
